.btns{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: 5%;
}
.titulo{
  color: #000;
}

.tabla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
}

.tabla h4 {
  border: 1px solid #ccc;
  padding: 8px;
}

.btns {
  text-align: center;
  margin-top: 20px;
}

